/* You can delete those if you want. I just found them very helpful */
* {
	box-sizing: border-box
}
.m {
	/* Don't cut off dropdowns! */
	overflow: initial;
}

/* Add your styles here */

/* Hover effect for tabs */
.m .tabs .tab a:hover { border-bottom: 2px solid #46a0e9 !important; font-weight: bold !important; }

/* Header section */
#header-area {
	margin-top: 4px;
	margin-bottom: 20px;
}

#header-area #header-logo-title .logo {
	float: left;
	margin-right: 10px;
}

#header-area #header-logo-title p {
	line-height: normal !important;
	margin: 0 !important;
	padding: 8px 0 0 8px;
}

#header-area #header-logo-title p>span.h-title {
	font-size: 2em !important;
	font-weight: bold !important;
}

#header-area #header-logo-title p>span.h-sub-title {
	font-size: 1.1em !important;
	font-style: italic;
	color: #2196f3;
}

/* Fancytree */
.treeContainer {
	width: calc(100% - 24px) !important;
}

.fancytree-container {
	background: #efefef !important;
	border-style: none !important;
	font-size: 1rem !important;
	font-family: "Segoe UI", Tahoma, Arial, "Courier New" !important;
}

.fancytree-title {
	background: #efefef !important;
	height: 24px;
}

.fancytree-node:hover,
.fancytree-node:hover>.fancytree-title,
.fancytree-title:hover {
	background: #64b5f6 !important;
	color: white !important;
	font-weight: bold !important;
	cursor: pointer;
}

ul.fancytree-container ul {
	padding: 0 0 0 18px !important;
	margin: 0;
}

.fancytree-node>span.fancytree-checkbox {
	background-position: 0 0;
	background-image: url("./img/checkbox.svg");
	width: 24px;
	height: 24px;
}

.fancytree-node.fancytree-partsel>span.fancytree-checkbox {
	background-position: 0 0;
	background-image: url("./img/checkbox_intermediate.svg");
	width: 24px;
	height: 24px;
}

.fancytree-node.fancytree-partsel.fancytree-selected>span.fancytree-checkbox {
	background-position: 0 0;
	background-image: url("./img/checkbox_marked.svg");
	width: 24px;
	height: 24px;
}

.fancytree-node>span.fancytree-icon,
.fancytree-node>span.fancytree-icon:hover {
	background-position: 0 0;
	background-image: url("./img/state.png");
	width: 24px;
	height: 24px;
}

.fancytree-node.fancytree-folder>span.fancytree-icon {
	background-position: 0 0;
	background-image: url("./img/folder.png");
	width: 24px;
	height: 24px;
}

.fancytree-node.fancytree-folder>span.fancytree-expander {
	background-position: 0 0;
	background-image: url("./img/menu_right.svg");
	width: 24px;
	height: 24px;
}

.fancytree-node.fancytree-expanded.fancytree-folder>span.fancytree-expander {
	background-position: 0 0;
	background-image: url("./img/menu_down.svg");
	width: 24px;
	height: 24px;
}

.fancytree-folder-title-id {
	font-size: .9em;
	min-width: 200px;
}

.fancytree-item-title-id {
	min-width: 200px;
}

.fancytree-item-title-name {
	width: auto;
}

.fancytree-node.fancytree-folder {
	border-bottom: 0.5px solid #64b5f6;
	margin-top: 10px;
}

.fancytree-node.fancytree-folder .fancytree-title {
	font-size: 16px;
	font-weight: 500;
}